{{input value=searchString key-press="updateSearchString" placeholder='Search...' type='text'}}
{{#if searchString}}
			<span {{action 'cancelSearch'}}><i class="fa fa-times"></i></span>
{{/if}}
<span class="searchicon">
  <i class="fa fa-search"></i>
</span>
